@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>

</address>

<address>
    <strong>Facultate</strong> <a href="http://www.ace.ucv.ro/site/contact.php">Site-ul facultatii</a><br/>
    <strong>Suport:</strong> <a href="mailto:rotaru.alexandru15@gmail.com">Alexandru Rotaru</a><br />   
</address>
