@model Alumni.Models.UserCVLink

@{
    ViewData["Title"] = "Stergere CV";
}

<h2>Delete</h2>

<h3>Sunteti sigur ca vreti sa stergeti acest CV?</h3>
<div>
    <h4>CV</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Stergeti" class="btn btn-default" /> |
            <a asp-action="Index">Inapoi catre lista</a>
        </div>
    </form>
</div>
